/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: #000000;
  font-family: Arial, sans-serif;
  color: white;
}


/*EFFECTS*/
/* remove default link styles */
a {
  text-decoration: none; /* remove underline */
  color: inherit;        /* usa a cor do elemento pai */
}

/* visited (roxo) */
a:visited {
  color: inherit;
}

/* hover (quando passa o mouse) */
a:hover {
  color: inherit;
}

/* active (while click) */
a:active {
  color: inherit;
}

/*HOVER EFFECT*/
.navbar a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.3s;
}

/* hover color */
.navbar a:hover {
  color: #026EB6;
}




/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
    z-index: 1000;


  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000000;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
}




/* HERO */
.hero {
  position: relative; /* important */
  height: 500px;
  background: url("./src/img/background.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 32px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
}

.about-left {
  width: 30%;
}

.about-left h2{
  margin-top: 10%;
}

.about-right {
   margin-top: 2%;
  width: 40%;
  line-height: 1.5;
}

/* EDUCATION */
.education {
   margin-top: 10%;
   margin-left: 40px;
  text-align: left;
  padding: 60px 40px;
}

.edu-item {
  margin-top: 40px;
}

.edu-item span {
  display: block;
  margin: 10px 0;
  color: gray;
}

/* PROJECTS */


/* INDEX - GALERY *********/


    /* PROJECTS */

.projects-section{
  background: #050505;
}

/* CARD */

.project-card{
  position: relative;

  display: block;

  overflow: hidden;

  border-radius: 20px;

  text-decoration: none;

  transition: 0.4s;

  border: 2px solid #1a1a1a;
}

/* IMAGE */

.project-card img{
  width: 100%;
  height: 260px;

  object-fit: cover;

  transition: 0.5s;
}

/* OVERLAY */

.project-overlay{
  position: absolute;

  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.2)
  );

  display: flex;

  flex-direction: column;

  justify-content: end;

  padding: 25px;

  color: white;
}

/* TITLE */

.project-overlay h3{
  font-size: 28px;

  font-weight: bold;
}

/* TEXT */

.project-overlay p{
  color: #cfcfcf;

  margin-top: 5px;
}

/* HOVER */

.project-card:hover{
  transform: translateY(-10px);

  box-shadow:
  0 0 20px rgba(0,195,255,0.4),
  0 0 50px rgba(0,195,255,0.2);

  border-color: #00c3ff;
}

/* IMAGE ZOOM */

.project-card:hover img{
  transform: scale(1.08);
}


/*****/
.projects-section {
  padding: 60px 40px;
  text-align: center;
  background: url("src/img/backgFky.png") center/cover;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 60px 40px;
}

.contact-box {
  width: 200px;
  height: 120px;
  background: #ccc;
  margin: 20px auto;
}

/* contact form */
.contact-form {
  width: 320px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* inputs */
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;

  font-size: 14px;
}

/* textarea resize control */
.contact-form textarea {
  resize: none;
}

/* button */
.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(90deg, #00D5D2, #026EB6);
  color: white;

  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* hover effect */
.contact-form button:hover {
  transform: scale(1.05);
}

.social span {
  margin: 10px;
  font-size: 20px;
}

.social i{
font-size: 40px;
margin: 20px;
}